
.container h1{
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 40px;
	font-weight: bold;
	color: #19d28f;
}
.container{
	padding-top: 8%;
}
.single-team{
	position: relative;
	overflow: hidden;
	margin-bottom: 10px;
	perspective: 100px;
	-webkit-perspective:1000px;
}

.team-img{
	width: 100%;
	height: 250px;
	padding: 20px;
	text-align: center;
	transition: all .5s ease;

}

.one{
	background-image: url(img/b1.jpg);
	-webkit-background-size:cover;
	background-size: cover;
	background-position: center center;
}

.two{
	background-image: url(img/b2.jpg);
	-webkit-background-size:cover;
	background-size: cover;
	background-position: center center;
}

.three{
	background-image: url(img/b3.jpg);
	-webkit-background-size:cover;
	background-size: cover;
	background-position: center center;
}

.four{
	background-image: url(img/b4.jpg);
	-webkit-background-size:cover;
	background-size: cover;
	background-position: center center;
}
.five{
	background-image: url(img/b5.jpg);
	-webkit-background-size:cover;
	background-size: cover;
	background-position: center center;
}
.six{
	background-image: url(img/b6.jpg);
	-webkit-background-size:cover;
	background-size: cover;
	background-position: center center;
}
.team-text{
	position: absolute;
	width: 100%;
	height: 250%;
	padding: 20px;
	text-align: center;
	transition: all .5s ease;
	top: 0;
	left: 0;
	z-index: 1;
	opacity: 0;
	background-color: #87CEFA;
	backface-visibility: hidden;
	transform-style: preserve-3d;
	transform: translateX(110px) rotateY(-90deg);
	color: #000;
}

.team-text h2{
	text-transform: uppercase;
	font-weight: 700;
}

.teat-text h4{
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 300;
}

.team-text p{
	line-height: 2;
}

.img-area{
	position: relative;
	top: 80px;
	transform: translate3d(-50%);
}

.single-team:hover .team-img{
	opacity: 0;
	transform: translateX(-110px) rotateY(90deg);
}

.single-team:hover .team-text{
	opacity: 1;
	transform: rotateY(0); 
}

